* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*Selecionar pela tag body do html*/
  body {
    font-family: "Calibri";
    color: #404040;
    /* flex container */
    display: flex;
    height: 100vh;              /*Mexer na altura disponivel na tela usando o vh */
    /* viewport height */
    background-color: brown;
    justify-content: center;    /*Centralizar a caixa na tela toda*/
    align-items: center;        /*Centralizar a caixa */
    background-image: url(Plano\ de\ fundo\ redefinição\ senha.webp);      /*Carregar a imagem de fundo */
    background-size: cover;       /* Posição da imagem preencher o espaço disponivel*/
    background-position: 50%;     /* posicionamento da imagem*/
    padding: 20px;                /* espaçamento do elemento na pagina*/
  }
  
  form {
    /* flex child do body*/
    background-color: white; /*Cor de fundo do form */
    padding: 50px;       /*Espaçamento do form igualmente*/
    border-radius: 25px;  /*Curvar os cantos do form*/
  
    /* flex container */
    display: flex;
    flex-direction: column;
    gap: 25px; /* Espaçamento entre os elemntos dentro do form */
  }
  
  h1 {
    
    font-size: 32px;
    align-self: center;
  }
  /*Selecionar pela tag button do html*/
  button {
    padding: 10px;                    /* Distribuir os espaços internos */
    align-self: center;               /* Centralizar */
    width: 160px;                     /* largura do botão */
    border-radius: 25px;              /* Borda do botão */
    /* background-color: #3393c1; */
    background-image: linear-gradient(#256a8a, #3393c1); 
    border: solid 1px #256a8a;      /* Gradiente - misturar as cores do botão*/
    border-right-width: 3px;          /* Largura da borda direita do botão*/
    border-bottom-width: 3px;         /* Largura debaixo do botão*/
    font-size: 16px;                  /* Tamanho da fonte*/
    color: white;                   /* Cor da fonte*/
    font-weight: 700;                 /* Peso da fonte/Negrito*/
    text-transform: uppercase;        /* fonte maiusculo*/
  }
  
  /*Selecionar pela tag input do html*/
  input {
    padding: 10px 20px;             /* tamanho da caixa de input*/
    border-radius: 15px;            /* Arredondar os cantos*/
    border: none;                   /* Sem borda*/
    background-color: #f1f1f1;    /* cor de fundo da caixa de input*/
  }
  
  a {     /* Ancora de link*/
    color: #009dff;
  }
  
  /*Utilizar o . para selecionar pela class */
  .barra-horizontal {
    background-color: #256a8a;  /*Cor da barra */
    height: 4px;    /*altura da barra */
    width: 210px;   /*Tamanho da barra */
  }
  
  .campo-input {
    /* flex container - opção de direcionar as posições */
    display: flex;
    flex-direction: column;    /* Direcionamento das informações um embaixo do outro */
    gap: 5px;   /* espaçamento de  */
  }
  
  .lembrar-me {
    /* flex container opção de direcionar as posições */
    display: flex;
    gap: 5px;  /* empurar/espaçar entre os elementos */
  }
  
  .titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .esqueceu-senha {
    text-align: center;       /* Centralizar o texto*/
  }
  