* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/*Selecionar pela tag body do html*/
body {
  color: #333;
  /* flex container */
  display: flex;
  height: 100vh; /*Mexer na altura disponivel na tela usando o vh */
  background-color: rgb(252, 250, 250);
  justify-content: center; /*Centralizar a caixa na tela toda*/
  align-items: center; /*Centralizar a caixa */
  background-size: cover; /* Posição da imagem preencher o espaço disponivel*/
  background-position: 50%; /* posicionamento da imagem*/
  padding: 20px; /* espaçamento do elemento na pagina*/
}

form {
  /* flex child do body*/
  background-color: white; /*Cor de fundo do form */
  padding: 50px; /*Espaçamento do form igualmente*/
  border-radius: 25px; /*Curvar os cantos do form*/
  /* flex container */
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espaçamento entre os elemntos dentro do form */
}

h1 {
  /*Ajuste do titulo*/
  font-size: 32px;
  align-self: center;
}
/*Selecionar pela tag button do html*/
button {
  background-color: #256a8a;
  color: white; /* Cor da fonte*/
  border: solid 1px #256a8a; /* Gradiente - misturar as cores do botão*/
  padding: 10px; /* Distribuir os espaços internos */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  border-right-width: 3px; /* Largura da borda direita do botão*/
  border-bottom-width: 3px; /* Largura debaixo do botão*/
  font-size: 16px; /* Tamanho da fonte*/
  font-weight: 700px; /* Peso da fonte/Negrito*/
  text-transform: uppercase; /* fonte maiusculo*/
}
}

/*Selecionar pela tag input do html*/
input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  /* Ancora de link*/
  color: #009dff;
}

/*Utilizar o . para selecionar pela class */
.barra-horizontal {
  background-color: #256a8a; /*Cor da barra */
  height: 4px; /*altura da barra */
  width: 250px; /*Tamanho da barra */
}

.campo-input {
  /* flex container - opção de direcionar as posições */
  display: flex;
  flex-direction: column; /* Direcionamento das informações um embaixo do outro */
  gap: 5px; /* espaçamento de  */
}

.lembrar-me {
  /* flex container opção de direcionar as posições */
  display: flex;
  gap: 5px; /* empurar/espaçar entre os elementos */
}

.titulo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.esqueceu-senha {
  text-align: center; /* Centralizar o texto*/
}
