* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*Selecionar pela tag body do html*/
  body {
    font-family: "Calibri";
    color: #404040;
    /* flex container */
    display: block;
    height: 100vh;              /*Mexer na altura disponivel na tela usando o vh */
    /* viewport height */
    background-color: rgb(201, 90, 90);
    justify-content: center;    /*Centralizar a caixa na tela toda*/
    align-items: center;        /*Centralizar a caixa */
    background-image: url(Plano\ de\ fundo1.png.webp);      /*Carregar a imagem de fundo */
    background-size: cover;       /* Posição da imagem preencher o espaço disponivel*/
    background-position: 50%;     /* posicionamento da imagem*/
    padding: 50px;                /* espaçamento do elemento na pagina*/
  }
  
  form {
    /* flex child do body*/
    background-color: white; /*Cor de fundo do form */
    padding: 50px;       /*Espaçamento do form igualmente*/
    border-radius: 25px;  /*Curvar os cantos do form*/
  
    /* flex container */
    display: flex;
    flex-direction: column;
    gap: 25px; /* Espaçamento entre os elemntos dentro do form */
  }
  
  h1 {
    
    font-size: 50px;
    align-content: flex-start;
    
  }
  /*Selecionar pela tag button do html*/
  button {
    padding: 5px;                    /* Distribuir os espaços internos */
    align-self: flex-end;               /* Canto esquerdo da tela*/
    width: 100px;                     /* largura do botão */
    border-radius: 5px;              /* Borda do botão */

    /* background-color: #3393c1; */
    background-image: linear-gradient(#256a8a, #3393c1); 
    border: solid 1px #256a8a;      /* Gradiente - misturar as cores do botão*/
    border-right-width: 3px;          /* Largura da borda direita do botão*/
    border-bottom-width: 3px;         /* Largura debaixo do botão*/
    font-size: 16px;                  /* Tamanho da fonte*/
    color: white;                   /* Cor da fonte*/
    font-weight: 700px;                 /* Peso da fonte/Negrito*/
    text-transform: uppercase;        /* fonte maiusculo*/
  }
   
  
  /*Utilizar o . para selecionar pela class */
  .barra-horizontal {
    background-color: #256a8a;  /*Cor da barra */
    height: 4px;    /*altura da barra */
    width: 1000px;   /*Tamanho da barra */
  }
  
  .titulo {
    display: run-in;
    flex-direction: column;
    font-size: 200px;
    color: white; 
    gap: 50px;
    text-transform: uppercase; 
    font-family: "Calibri"
    
  }
  
  
  