* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Selecionar pela tag body do html*/
body {
  font-family: 'Calibri';
  color: #404040;
  /* flex container */
  display: block; /*Ajustar a posição dos quadrados do container na pagina*/
  height: 100vh; /*Mexer na altura disponivel na tela usando o vh */
  /* viewport height */
  background-color: rgb(243, 237, 237);
  justify-content: center; /*Centralizar a caixa na tela toda*/
  align-items: center; /*Centralizar a caixa */
  background-image: url(Plano\ de\ fundo1.png.webp); /*Carregar a imagem de fundo */
  background-size: cover; /* Posição da imagem preencher o espaço disponivel*/
  background-position: 50%; /* posicionamento da imagem*/
  padding: 50px; /* espaçamento do elemento na pagina*/
}

#conteudo {
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 2px;
  background-image: url(Plano\ de\ fundo1.png.webp);
  background-size: cover; /* Posição da imagem preencher o espaço disponivel*/
  background-position: 10%;
}

form {
  /* flex child do body*/
  background-color: white; /*Cor de fundo do form */
  padding: 50px; /*Espaçamento do form igualmente*/
  border-radius: 25px; /*Curvar os cantos do form*/

  /* flex container */
  display: flex;
  flex-direction: column;
  gap: 50px; /* Espaçamento entre os elementos dentro do form */
}

h1 {
  /*Ajuste do titulo*/
  font-size: 50px;
  align-content: flex-start;
}
/*Selecionar pela tag button do html*/
button {
  padding: 10px; /* Distribuir os espaços internos */
  align-self: center; /* botões no centro da tela*/
  width: 160px; /* largura do botão */
  border-radius: 25px; /* Borda do botão */
  background-image: linear-gradient(#256a8a, #3393c1);
  border: solid 1px #256a8a; /* Gradiente - misturar as cores do botão*/
  border-right-width: 3px; /* Largura da borda direita do botão*/
  border-bottom-width: 3px; /* Largura debaixo do botão*/
  font-size: 16px; /* Tamanho da fonte*/
  color: white; /* Cor da fonte*/
  font-weight: 700px; /* Peso da fonte/Negrito*/
  text-transform: uppercase; /* fonte maiusculo*/
}

/*Selecionar pela tag input do html*/
input {
  padding: 10px 20px; /*tamanho da caixa de input*/
  border-radius: 15px; /* Arredondar os cantos*/
  border: none; /* Sem borda*/
  background-color: #f1f1f1; /* cor de fundo da caixa de input*/
}

.titulo {
  display: flex;
  flex-direction: column;
  font-size: 200px;
  color: rgb(243, 240, 240);
  gap: 10px;
  text-transform: uppercase;
  font-family: 'Monteserrat';
}

/* Container para organizar as colunas */
.container {
  display: flex;
  justify-content: flex-start; /*Alinhamento dos blocos dos containers para um lado da página*/
  gap: 10px;
}

/* Estilo para as colunas do container*/
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo base para os quadrados do container */
.square {
  width: 100px;
  height: 85px;
  background-color: rgb(209, 110, 70);
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 12px; /* Ajuste para melhor legibilidade dentro dos quadrado*/
  overflow: hidden;
  padding: 5px;
  word-wrap: break-word;
  border-radius: 5px;
}

/* Estilo para o modal do formulário*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(18, 14, 219, 0.5);
  padding-top: 60px;
}
/* Estilo da forma do formulário*/
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 90%;
  max-width: 400px;
  border-radius: 25px;
}
/* Estilo do botão de fechar form*/
.close {
  color: #7d7d80;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo quando o quadrado do container for preenchido */
.clicked {
  background-color: rgb(27, 165, 22);
}

/* Estilo para os campos adicionais */
.product-field {
  margin-bottom: 25px;
}

#addProductBtn {
  background-color: #ff9800;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#addProductBtn:hover {
  background-color: #fb8c00;
}
