* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Selecionar pela tag body do html*/
body {
  /* flex container */
  height: 100vh; /*Mexer na altura disponivel na tela usando o vh */
  /* viewport height */
  background-image: url(Plano\ de\ fundo1.png.webp); /*Carregar a imagem de fundo */
  background-size: cover; /* Posição da imagem preencher o espaço disponivel*/
  background-position: 50%; /* posicionamento da imagem*/
  padding: 50px; /* espaçamento do elemento na pagina*/
}
header {
  background-color: #143f6d;
  color: white;
  padding: 20px 0;
}
header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.container {
  display: flex;
  justify-content: center; /*Alinhamento dos blocos dos containers para um lado da página*/
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square {
  width: 150px;
  height: 100px;
  background-color: rgb(209, 110, 70);
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 24px; /* Ajuste para melhor legibilidade dentro dos quadrado*/
  overflow: hidden;
  padding: 5px;
  word-wrap: break-word;
  border-radius: 10px;
}
#conteudo {
  padding: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 2px;
  background-size: cover; /* Posição da imagem preencher o espaço disponivel*/
  background-position: 10%;
}
